.kamma__backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.3s;
}

.kamma--show {
  visibility: visible;
  opacity: 1;
}

.kamma--show .kamma__container {
  transform: scale(1);
}

.kamma__container {
  position: relative;
  width: min(600px, 90%);
  border-radius: 10px;
  padding: 20px 20px 0;
  background: #fff;
  transform: scale(0);
  transition: transform 0.3s;
}

.kamma__footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 20px 0;
}

.kamma--no-scroll {
  overflow: hidden;
}

.kamma__close {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #ebebeb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 2rem;
  color: #666;
}

.kamma__close:hover {
  color: #333;
}

.kamma__content {
  max-height: 80vh;
  overflow-y: auto;
}
